body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
}

header {
    background-color: black;
    color: white;
    font-size: 2rem;
    display: flex;
    width: 7%;
    flex-flow: column;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-transform: uppercase;
    text-align: right;
    line-height: 1rem;
}

header h1 {
    margin: 1% 3% 1% ;
    letter-spacing: 15px;
}

header div {
    margin: 3% 0;
    display: flex;
    align-self: flex-end;
}

header p {
    font-size: .6rem;
    display: inline;
    margin: 0;
}

section {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
}

figure {
    margin: 2%;
}
