body {
    margin: 0;
    padding: 0;
    background-color:  #181818;
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    flex-direction: column;
    --padding: 1.2rem;
    --margin: .5rem;
    --banner-width: 3rem;
}

a.button {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

button:hover {
    background-color: #fffffe;
    color: #0f0e17;
    cursor: pointer;
    border-color: #fffffe;
}

header {
    display: flex;
    flex-flow: column;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-transform: uppercase;
    text-align: right;
    position: fixed;
    left: 0;

    width: var(--banner-width);
}

header a, header h1 {
    margin:0;padding:0;
    color:#ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: calc(var(--banner-width) - 4px);
}

section {
    margin-left: var(--banner-width);
}

hr {
    border: 1px solid #0f0e17;
    margin: 2px 0 6px 0;
    padding: 0;
    width: 12px;
}

li {
    list-style: none;
    margin: .5vw 0;
    line-height: normal;
}

a {
    color: white;
}

button.button-tile.on {
    color: white;
    background-color: black;
}

button.button-tile.off {
    color: white;
    background-color: blue;
}

button:hover {
    background-color: #fffffe;
    color: #0f0e17;
    cursor: pointer;
    border-color: #fffffe;
}

#banner {
    background-color: white;
    color: black;
    width: calc(100% - (2* var(--margin) + var(--padding)));
    text-transform: uppercase;
    padding: 0 var(--padding);
    font-size: .8rem;
    display: flex;
    justify-content: space-between;
}
#banner > * {
    margin: auto 0;
}
