body {
    color: white;
    background-color:black;
    text-transform: uppercase;
    list-style: none;
    --padding: 1.2rem;
    --margin: .5rem;

    overflow: hidden;
}

button {
    color:black;
    background-color:white;
    height: 20px;
    border-radius: 0px;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
}

p {
    text-transform: none;
}

.button-bar {
    width: 100%;
    text-align: left;
    /* background-color: black; */
    /* color: white; */
    font-size: 1vw;
    margin: .5vw 0;
}

.button-bar span {
    margin-left: 1vh;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
}

button:active {
    color: white;
    background-color: black;
}

section {
    flex-direction: column;
}

.pane {
    background-color: #181818;
    margin: var(--margin) 0 0 0;
    padding: 0rem var(--padding);
}

.top-console {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    align-content: center;
}

.console-label {
    border: 1px solid white;
    width: 52%;

    padding: var(--padding);
    line-height: 0;
    margin: var(--margin);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.console-label h4 {
    margin: 0.8rem 0;
}

.console-label input[type="text"], .console-label input:focus {
    font-weight: 700;
    display: block;
    box-sizing: border-box;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #666;
    max-width: 100%;
}

.console-label input[type="text"]:hover {
    border-bottom: 1px solid white;
}

#toolbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    padding: 0 0 0 var(--padding);
}

#toolbar a {
    margin-right: 1rem;
}

.stats {
    font-size: .6rem;
    margin: auto 0;
    line-height: 1vh;
    width: 20%;
    display: block;
}

.slider-input {
    margin-top: 14px;
}

.parameters > li.scale {
    flex-direction: column;
    align-items: flex-start;
}

.scale button {
    margin-right: 1rem;
}
.scale div {
    display: flex;
    flex-direction: row;
}

input[type=text]::-webkit-inner-spin-button, 
input[type=text]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=text] {
    max-width: 50%;
    display: inline;
    background-color: black;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    mix-blend-mode: difference;
    -moz-appearance: textfield;
}

input[type=text]:focus {
    outline: none;
}

#colors label {
    margin-top: var(--margin);
    display: block;
}

.flex-row {
    display: flex; flex-direction: row; flex-wrap: wrap;
}
.flex-col {
    display: flex; flex-direction: column; flex-wrap: wrap;
}

#main-control-bar {
    background-color: black;
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin: auto;
}

#banner {
    background-color: white;
    color: black;
    width: calc(100% - (2* var(--margin) + var(--padding)));
    text-transform: uppercase;
    padding: 0 var(--padding);
    font-size: .8rem;
    display: flex;
    justify-content: space-between;
}
#banner > * {
    margin: auto 0;
}
#header {
    font-size: 2rem;
    display: block;
}
#edit-header {
    font-size: 2rem;
    font-weight:bold;
    color:white;
    display: block;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
.hidden {
    display: none !important;
}
#main-pane {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#sketch-holder {
    margin-bottom: 2rem;
}

canvas {
    margin: auto;
}

#left-console {
    display: flex;
    flex-direction: column;
    width: 20%;
}

#right-console {
    width: 20%;
}

.control-panel {
    border: 1px solid white;
    border-bottom: none;
    padding: .1rem 1rem;
    text-align: center;
    margin-top: 36px;
    font-size: 12px;
}
.control-panel h3 {
    margin-top: -14px;
    font-size: 16px;
    background-color: #181818;
    margin-bottom: 24px;
}
.control-panel button {
    display: block;
    font-size: 16px;
    padding: 0 2px;
    /* mix-blend-mode: difference; */
}
.control-panel input {
    font-size: 12px;
}
.control-bar button{
    font-size: 12px;
}
button.on span {
    color: white;
}
button.off span {
    color: black;
}
button.toggle.on {
    color: black;
    /* mix-blend-mode: difference; */
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47.5%, rgba(0,0,0,1) 47.5%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47.5%, rgba(255,255,255,1)), color-stop(47.5%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47.5%, rgba(0,0,0,1) 47.5%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47.5%, rgba(0,0,0,1) 47.5%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47.5%, rgba(0,0,0,1) 47.5%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47.5%, rgba(0,0,0,1) 47.5%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=1 );
    transition: all .23s;
}
button.toggle.off {
    color: white;
    /* mix-blend-mode: difference; */
    background: rgba(0,0,0,1);
    background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 54.5%, rgba(255,255,255,1) 54.5%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(54.5%, rgba(0,0,0,1)), color-stop(54.5%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 54.5%, rgba(255,255,255,1) 54.5%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 54.5%, rgba(255,255,255,1) 54.5%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 54.5%, rgba(255,255,255,1) 54.5%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 54.5%, rgba(255,255,255,1) 54.5%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=1 );
    transition: all .23s;
}
.parameters {
    text-align: left;
    line-height: 2rem;
    font-weight: bold;
}

.parameters li {
    margin: 1.2rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    /* max-width: 50%; */
}

input[type=checkbox] {
    width: 1vw;
    display: inline;
}
.parameters span.descriptor {
    font-size: 10px;
    display: block;
    margin-top: -12px;
    font-weight: normal;
}

.description {
    text-align:left;
}

.warn {
    background-color: red;
}

/* //special checkboxes */
#fill {
    display: flex;
    margin: auto 1vh auto 0;
    background-color: #181818;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: white 1px solid;
    transition: all ease-in .08s;
}
#fill.on {
    background-color:white;
}
#fill:hover {
    background-color:white;
}
#fill.on:after {
    border: none;
}
#fill.on:hover:after {
    border: 1px solid #181818;
}
#fill:hover:after {
    border: 1px solid #181818;
}
#fill:after {
    content:"";
    position: relative;
    width: 100%;
    border-radius: 50%;
    transition: ease-out all .2s;
    /* border: 1px solid #181818; */
}
#stroke {
    display: flex;
    margin: auto 1vh auto 0;
    background-color: #181818;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: white 1px solid;
    transition: all ease-in .08s;
}
#stroke.on:after {
    border: 1px solid white;
    background-color: white;
}
#stroke:hover:after {
    border: 1px solid white;
}
#stroke:after {
    content:"";
    position: relative;
    top: 2px;
    left: 2px;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    transition: all ease-in .08s;
}
/* //////////////// */
#round {
    display: flex;
    margin: auto 1vh auto 0;
    background-color: #181818;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 1.22vh;
}
#round:hover{
    border: 1px solid white;
    margin-right: 1vh;
}
#round.on{
    border: 1px solid white;
    margin-right: 1vh;
}
#round:hover:after {
    top: 2px;
    left: 2px;
    width: 50%;
    height: 50%;
    border: 1px solid white;
    background-color: #181818;
}
#round.on:after {
    border: 1px solid white;
    background-color: white;
    top: 2px;
    left: 2px;
    width: 50%;
    height: 50%;
}
#round:after {
    content:"";
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    border: 1px solid white;
}
